<div class="container">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Badges</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="project in vm.projects">
        <td>{{ project.name }}</td>
        <td>
          <a ng-if="project.travis"
             href="https://travis-ci.org/{{ project.travis.slug }}">
            <img src="https://travis-ci.org/{{ project.travis.slug }}.svg?branch=develop">
          </a>
          <a ng-if="project.appveyor"
             href="https://ci.appveyor.com/project/{{ project.appveyor.slug }}">
            <img src="https://ci.appveyor.com/api/projects/status/{{ project.appveyor.code }}?branch=develop&svg=true">
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
